<link rel="stylesheet" href="/css/input.css">

<form action="/post/update/<%= post.post_id %>" method="post">
    <input type="text" class="input-text" name="title" placeholder="title..." value="<%= post.title %>">
    <textarea name="content" class="input-content" placeholder="content..."><%= post.content %></textarea>
    <button>Submit</button>
</form>